body {
    position: relative; 
    background-image: url(./image/background_img.jpg);
    background-size: cover;
}

.list-group-item{
    background-color: #f5fee1;
}

.textcolor{
    color: #0c0901;
    font-weight: bolder;
    font-size: x-large;
}

.skilltext{
    padding-left: 10px;
}

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h3{
    font-weight: bolder;
}

ul.nav-pills {
    top: 150px;
    position: fixed;
}

/* div.col-8 div {
    height: 1000px;
} */

#section3 li:hover{
    background-color: rgb(111, 189, 150);
}

#img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#skill:hover{
    background-color: white;
    cursor: pointer;
}

.space{
    padding-left: 10%;
}
